<ActionBar title="My Books">
  <StackLayout orientation="horizontal"
               ios:horizontalAlignment="right"
               android:horizontalAlignment="right">
    <Label text="E-BOOKS" class="action-label"></Label>
  </StackLayout>
  <ActionItem
          ios.systemIcon="12" ios.position="left"
          android.systemIcon="ic_menu_search" android.position="actionBar"></ActionItem>
</ActionBar>

<StackLayout>

  <StackLayout>
    <TextView text="Pending Books"></TextView>
  </StackLayout>

  <StackLayout>
    <TextView text="Watchlist"></TextView>
  </StackLayout>

  <StackLayout>
    <TextView text="Browse Books"></TextView>
    <Label text="Things Fall Apart by Chinaua Achebe"></Label>
    <Label text="Second Chance by Iyengi Coin"></Label>
  </StackLayout>


</StackLayout>